<h1 class="header page-header">Login</h1>

<div class="container">
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="form">
      <div class="form-area">
          <%= f.label :username, class: 'hidden' %>
          <%= f.text_field :username, placeholder: 'Username', class: 'form-info' %>
      </div>

      <div class="form-area">
        <div class="form-info">
          <%= f.label :password, class: 'hidden' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-info' %>
        </div>
      </div>

      <div class="form-area">
        <% f.label :remember, class: 'hidden' %>
        <div class="remember"><%= f.check_box :remember %> Remember me</div>
      </div>

      <div class="form-area">
        <%= f.submit 'Login', class: 'login-button btn'%>
      </div>
    </div>
  <% end %>
</div>