<h1 class="page-header header">Create Song</h1>
<%= form_for(:song, url: admin_songs_path) do |f| %>
  <%= f.select(:album_id, options_for_select(album_options), class: 'album-dropdown') %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

