<h1 class="header page-header">Create Account</h1>
<%= form_for(:user, url: users_path) do |f| %>

  <div class="form">
    <div class="form-area">
      <%= f.label :username, class: 'hidden' %>
      <%= f.text_field :username, placeholder: 'Username', class: 'form-info' %>
    </div>

    <div class="form-area">
      <%= f.label :password, class: 'hidden' %>
      <%= f.text_field :password, placeholder: 'Password', class: 'form-info' %>
    </div>

    <div class="form-area">
      <%= f.label :confirm_password, class: 'hidden' %>
      <%= f.text_field :confirm_password, placeholder: 'Confirm Password', class: 'form-info' %>
    </div>

    <div class="form-area">
      <%= f.submit 'Create Account', class: 'btn signup-btn' %>
    </div>
  </div>
<% end %>