
<h1 class="page-header header">
  <%= song.name %>
</h1>


<div class="links">

  Album: <%= link_to song.album.name, album_path(song.album), class: 'nav' %>

  <%= form_for(:playlist, url: "#{song.id}/add") do |f| %>
    <%= f.select(:playlist, current_user.playlists.map{ |n| [n.name, n.id] }) %>
    <%= f.submit 'Add to Playlist' %>
  <% end %>

</div>