<h1 class="header page-header">
  Create New User
</h1>

<%= form_for(:user, url: admin_users_path, method: :post) do |f| %>
  <div class="form">
    <div class="form-area">
      <%= f.text_field :username, placeholder: 'Username', class: 'form-info' %>
    </div>

  <div class="form-area">
    <%= f.password_field :password, placeholder: 'Password', class: 'form-info' %>
  </div>

  <div class="form-area">
    <div class="text">
      Role
    </div>
    <%= f.select :role, options_for_select([['base', 'base'], ['admin', 'admin']]), class: 'form-info' %>
  </div>

  <div class="form-area">
    <%= f.submit 'Create User', class: 'btn signup-btn' %>
  </div>
<% end %>
