<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>
<%= user.username %>
<%= user.role %>
<%= user.created_at %>
<%= link_to 'Delete', admin_users_path, method: :delete %>
<%= link_to 'Promote', 'admin/users#update', method: :patch %>